

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p{
  color: black;
}

#title{
 
  text-align: left;
}
.card-header{
  background-color: gold;
}

.card-body{
  background-color: turquoise;
}
.logo{
  width: 20%;
}

.container-fluid{
  padding: 3%  15%;
}

.footer-section{
  background-color: black;
  color: gold;
}

.footer-color{
  color: gold;
}

.colored-section{
  background-color: grey;
  color: black;
}

.white-section{
  background-color:  white;
}

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.instrumentHub {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 2.5rem;
  font-weight: bold;
  color: lightblue;
}
nav-item{
padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.brassgroup{
  width: 120;
  position: absolute;
  right: -15%;
  margin-right: 10%;

}
#features{
  padding: 7% 15%;
 
  position: relative;
 
}

.feature-title{
  font-size: 1.5rem;
}

.feature-box{
  padding: 4.5%;
}

.icon{
  color: gold;
  margin-bottom: 1rem;
}
.icon:hover{
  color: black;
}
#testimonials{
  background-color:  grey;
 
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-dog{
  width: 15%;
  
  margin:20px ;
}
#press{
  background-color:  gold;
  padding-bottom: 3%;
}

#pricing {
     padding: 100px;
}

.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pictures{
  width: 15%;
  margin:20px 20px 50px;
  
}
.testimonial-image{
  width: 15%;
  margin:20px 20px 50px;
}

.pricing-column{
  padding: 3% 2%;
}

.big-header{
  font-family: 'Montserrat', sans-serif; 
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  line-height: 1.5;
  font-size: 3rem;
}


.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px){

  #title{
      text-align: center;
  }
  .iphone{
      position: static;
      transform: rotate(0);
  }
}